@tailwind base;
@tailwind components;
@tailwind utilities;

  #first-scroll{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }

  #first-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }


  #second-scroll{

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }

  #second-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }